body {
    font-family: "Product Sans Regular";
}

input{
    font-family: 'Consolas';
}

:root {
    --main-color: #fff6faef;
    --second-color: #ff429c;
    --text--color: #fff;
    --border--color: #e6e6e6;
}
/* scoroll  */
::-webkit-scrollbar {
    height: 4px;
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 10px;
}

header {
    width: 100%;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border--color);
}

.header-shadowCode button {
    background-color: var(--second-color);
    padding: 0.3rem 1rem;
    border-radius: 6px;
    color: var(--text--color);
}
.header-shadowCode i {
    font-size: 1.5rem;
    margin-right: 0.9rem;
}

/* main */
main {
    width: 100%;
}
aside {
    width: 25%;
    height: 90vh;
    background-color: var(--main-color);
    overflow-y: scroll;
}

aside .container {
    height: 100vh;
}

.side-header {
    border-bottom: 1px solid #757575a6;
}
.side-header button {
    background-color: var(--second-color);
    padding: 0.3rem 1rem;
    border-radius: 6px;
    color: var(--text--color);
}
.shadow-inset {
    display: flex;
    align-items: center;
}
.shadow-items {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}
.shadow-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.shadow-items .item div {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.shadow-items p,
span {
    font-size: 0.9rem;
}

.shadow-color input[type="text"] {
    width: 100%;
    margin: .3rem 0;
    padding: 0.3rem 1rem;
    border-radius: 7px;
    border: 1px solid var(--border--color);
    font-size: .9rem;
}
.shadow-items input[type="number"] {
    width: 90%;
    border: 1px solid var(--border--color);
    outline: none;
    border-radius: 10%;
    background-color: #fff;
    padding: 0.3rem;
    text-align: center;
    margin-right: 0.5rem;
}
.shadow-color p {
    font-size: .9rem;
}

.shadow-items input[type="number"]::-webkit-outer-spin-button,
.shadow-items input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* section */
section {
    width: 50%;
    height: 90vh;
    background-color: #F3F4F6;
}

/*side Bare right */
.side-right .side-header {
    border: none;
}

.side-right {
    overflow-y: hidden;
    border-left: 1px solid var(--border--color);;
}
