:root {
    --main-color: #fff;
    --second-color: #a25cff;
    --text--color: #fff;
    --border--color: #c5c5c5ab;
}
.shadow-items input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #eaedf0;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.shadow-items input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--second-color);
    cursor: pointer;
}

.shadow-items input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--second-color);
    cursor: pointer;
}


.shadow-items input[type="range"]::after {
    content: "";
    width: 3px;
    height: 20px;
    background: #eaedf0;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50px;
}
